@import '../../styles/index.scss';

//  Auth page

.section {
  background: center center no-repeat
    url('../../../src/assets/backgrounds/Daco_4394205.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .article {
    max-width: 700px;
    min-width: 360px;
    width: 100%;
    padding-left: 100px;

    .formHeader {
      .formNames {
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
          width: 33%;
          background-color: rgba(255, 255, 255, 0.3);
          border-radius: 15px;
          padding: 15px;
          box-shadow: 15px 15px 10px rgba(75, 75, 75, 0.3);
          margin: 5px;
          list-style-type: none;
          cursor: pointer;
          font-size: 22px;
          font-weight: 800;
          opacity: 0.8;
          text-transform: uppercase;
          transition: opacity 0.3s cubic-bezier(0.6, 0, 0.4, 1),
            text-shadow 0.5s cubic-bezier(0.6, 0, 0.4, 1);

          &:hover {
            opacity: 1;
          }
          &[active] {
            text-shadow: 2px 2px 5px black;
            opacity: 1;
          }
        }

        .title {
          text-align: center;
        }
      }
    }
  }
  .arrow {
    position: relative;
    height: 20px;
    transition: all 0.5s cubic-bezier(0.18, 0.89, 0.46, 1.11);
    &::after {
      position: absolute;
      content: '▲';
      font-size: 36px;
      transform: translate(-18px, -18px);
    }
  }
}
